<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2022 KDDM Lab.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  University Hall 4105<br />
		  1402 10th Ave. S.<br />
		  Birmingham, AL 35294-1241<br />
		  USA <br />
            (<a href="https://goo.gl/maps/KfWpHQLcb3VKY21o6">Maps</a>, <a href="https://goo.gl/maps/KfWpHQLcb3VKY21o6">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
