<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
		  <p>&copy KDDM Lab.</p>
		  <a href="https://github.com/KDDM/kddm.github.io">Github Page Source</a>
		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-6">
		  Contact:<br />
		  University Hall 4143<br />
		  1402 10th Ave. S.<br />
		  Birmingham, AL 35294<br />
		  USA <br />
            (<a href="https://goo.gl/maps/KfWpHQLcb3VKY21o6">Maps</a>, <a href="https://goo.gl/maps/KfWpHQLcb3VKY21o6">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
