<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="text/html; charset=utf-8" http-equiv=content-type>
  <meta charset=UTF-8>
  <meta content="IE=edge,chrome=1" http-equiv=X-UA-Compatible>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name=viewport>
  <link href="{{ site.url }}{{ site.baseurl }}/images/favicon.png" hreflang=en-us rel=icon type=image/png>
  <meta content="KDDM | Knowledge Discovery and Data Mining Research Lab" property=og:title>
  <meta content="We have applied research to several domains, with close collaboration with cyber-security specialists, colleagues in Physical Medicine & Rehabilitation, School of Medicine, School of Public Health, Government, as well as with industrial collaborators such as IBM and eBay."
        property=og:description>
  <meta content=website property=og:type>
  <!-- <meta content=index.html property=og:url> -->
  <meta content="KDDM" property=og:site_name>
  <meta content="{{ site.url }}{{ site.baseurl }}/images/favicon.png" property=og:image>
  <meta content=1716 property=og:image:width>
  <meta content=960 property=og:image:height>
  <meta content=image/png property=og:image:type>
  <meta content=en_US property=og:locale>
  <meta content=Qo9tHL_xKckLnURZ4SEN21J-BfXu_rTvU_QkOt_nTXE name=google-site-verification>
  <meta content="175348084BEABFC3531291A6870B7A38" name="msvalidate.01"/>

  <meta content="KDDM | Knowledge Discovery and Data Mining Research Lab"
  name=description>
<meta content="KDDM, UAB, CS, Data mining, Chengcui Zhang, Tracy Zhang, Shahariar, Rabby, Shahariar Rabby, Shahariar Rabby, Fei Zhao, Fei, Pratim Saha, machine learning,deep learning,data scientist,development,web,ekush,bangla,sust,best paper"
  name=keywords>
<meta content="KDDM | Knowledge Discovery and Data Mining Research Lab" itemprop=name>
<meta content="One of my greatest strengths is my ability to make the conceptual practical to a computer program."
  itemprop=description>
<meta content="{{ site.url }}{{ site.baseurl }}/images/favicon.png" itemprop=image>
<meta content=summary name=twitter:card>
<!-- <meta content=index.html name=twitter:url> -->
<meta content=@KddmLab name=twitter:site>
<meta content=@KddmLab name=twitter:creator>
<meta content="KDDM | Knowledge Discovery and Data Mining Research Lab" name=twitter:title>
<meta content="Machine Learning Deep Learning software engineer and Data Scientist focused on building creative interfaces and experiences"
  name=twitter:description>
<meta content="{{ site.url }}{{ site.baseurl }}/images/favicon.png" name=twitter:image:src>




  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" type ="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/images/favicon.png">

{% if jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %} 

</head>
