<div class="well">
    <!-- <h4>News</h4> -->
    <!--    <a class="twitter-timeline" data-height="1000px" style="overflow: auto"-->
    <!--       href="https://twitter.com/KddmLab?ref_src=twsrc%5Etfw">Tweets by KDDM</a>-->
    <!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0"
            nonce="0fwV4nD4"></script>
    <div class="fb-page" data-href="https://www.facebook.com/KDDMLab" data-tabs="timeline" data-width=""
         data-height="600px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
         data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/KDDMLab" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/KDDMLab">KDDM Lab - UAB</a></blockquote>
    </div>

</div>
